body {
    background-color: #fafaff;
}

.hidden {
    display: none !important;
}

/* BI-SELECTOR*/
.selector {
    display: flex;
    flex-direction: row !important;
    align-items: center;
    justify-content: center;
}

.item {
    font-size: 16px;
    text-align: center;
    width: auto;
    min-width: 30px;
    padding: 10px;
    /* transition: background-color 0.3s; */
}

.item.selected {
    background-color: #343cdb;
    color: #fff;
    font-weight: 700;
}